body {
  padding: 0;
  margin: 0;
}

p a {
  text-decoration: none;
  font-size: 14px;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 275px;
    max-height: 275px;
    margin-top: 200px;
}

.box {
  display: block;
  margin: 0 auto;
}

.textbox {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  padding: 14px 190px 14px 190px;
  box-shadow: 2px 1.5px 1px 1.5px #cfd2d6;
  border-radius: 1px;
  border: 2px;
}

.buttons {
  display: inline;
  color: #efefef;
}

input, button, submit {
  border:none;
  color: gray;
  border: 1px solid #cfd2d6;
  font-weight: bold;
  font-size: 14px;
}

#searchbuttons {
  text-align: center;
}

.about {
  margin-left: 20px;
}

.store {
  margin-left: 20px;
}

.gmail {
  margin-left: 1050px;
}

.images {
  margin-left: 20px;
}

.ads {
  margin-left: 20px;
}

.business {
  margin-left: 20px;
}

.privacy {
  margin-left: 1050px;
}

.terms {
  margin-left: 20px;
}

.settings {
  margin-left: 20px;
}

#signin {
  color: white;
  margin-left: 20px;
  background: #4387fd;
  border: none;
}

.bluebutton {
  background: blue;
}

.header {
  position: absolute;
  top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  margin: 0;
  width: 100%;
  padding: 0 29px;
  line-height: 2px;
}

a:hover {
  text-decoration: underline;
}
